/*
 * Base structure of all webpages for Task Notification System
 */

html,
body {
    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: -0.04em;
}

body {
    /* Display & Box Model */
    /*padding-top: 50px;*/
}

footer {
    /* Text */
    /*font-weight: bold;*/
    text-align: right;

    /* Display & Box Model */
    padding: 5px;

    /* Background & Color */
    color: #000;
}


/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #00BFA5;
}

.jumbotron {
    /* Background & Color */
    background-color: #fff;
}

.sub-header {
    /* Display & Box Model */
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


/* Navbar Styling */

.navbar {
    /* Text */
    font-size: 0.8em;
}

.navbar-brand {
    /* Text */
    font-size: 1.2em;
}

.navbar-fixed-top {
    /* Display & Box Model */
    border: 0;
}

.navbar-inverse {
    /* Display & Box Model */
    background-color: rgba(0,0,0,0.2);
    color: #000;

    /* Text */
    font-weight: 500;
}

.navbar-inverse .navbar-brand {
    /* Background & Color */
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    /* Background & Color */
    color: #fff;
}


/* Custom Buttons */

.custom-btn {
    /* Background & Color */
    background-color: #00BFA5;
    color: #fff;

    /* Display & Box Model */
    border-color: #00BFA5;
    transition: 0.75s ease-in-out;
}

.custom-btn:hover {
    /* Background & Color */
    background-color: #fff;
    color: #00BFA5;

    /* Text */
    font-weight: bold;

    /* Display & Box Model */
    border-color: #00BFA5;
    transition: 0.75s ease-in-out;
}