/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    font-size: 1.5em;
/*    background-color: #00BFA5;*/

}

.jumbotron {
    background-color: #fff;
    margin: 0px;
}

.jumbotron p {
    font-weight:500;
    /*font-size: 1.1em;*/
}

#task-text {
    font-size: 2em;
}

footer {
    text-align: center;
    padding: 30px;
    /*background-color: #00BFA5;*/
    color: #000;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #00BFA5;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}

.navbar-inverse {
    background-color: #00BFA5;
    color: #fff;
    font-weight: 500;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

table {
    font-size: 0.9em;
    /*font-weight: 500;*/
    font-family: "Open Sans", sans-serif;
}



/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
    background-color: #EEEEEE;
    
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        border-right: 3px solid #00BFA5;
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #00BFA5;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
    text-align: center;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.action-tiles {
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}

.thumbnail {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
}

.thumbnail .caption {
    color: #fff;
    text-align: center;
}

.thumbnail:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #34495e;
    border: 2px solid #34495e;
}

@-webkit-keyframes slideDown {
    0%,
    100% {
        -webkit-transform: translateY(-60px);
    }
    10%,
    90% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes slideDown {
    0%,
    100% {
        -moz-transform: translateY(-60px);
    }
    10%,
    90% {
        -moz-transform: translateY(0px);
    }
}

#taskCreationStatus {
    display: none;
    position: absolute;
    z-index: 101;
    top: -10;
    left: 0;
    right: 0;
    background-color: #5cb85c;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
}

#taskCreationStatus a {
    color: #fff;
}

.cssanimations .csstransforms #taskCreationStatus {
    -moz-transform: translateY(-40px);
    -moz-animation: slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations .csstransforms #close {
    display: none;
}

.full-height {
    height: 70vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 74px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


/* Content Loading Spinner */

#loading {
    background: url(../img/hourglass.svg) center no-repeat rgba(255, 255, 255, 0.85);
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    display: none;
}

#information-jumbotron {
    border-top: 5px solid #00BFA5;
    border-bottom: 5px solid #00BFA5;
    background-color: #E0F2F1;
    margin-top: none;
    margin-bottom: none;
    padding: none;
}

.custom-center {
    text-align: center;
}

/* Main Jumbotron Content */

#main-jumbotron {
    background-color: #fff;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-size: cover;
    padding-top: 20vh;
    height: 80vh;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#main-jumbotron .text-content{
    font-weight: bold;
    color: #fff;
    padding: 30px;
    margin: 10px;
    animation: 1s 0.5s fadeIn ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#features-jumbotron {
    background-color: #fff;
}

#slogan-jumbotron {
    background-color: #277f71;
    color: #fff;
    border-top: 10px solid #00BFA5;
    padding: 10px;
}

.custom-btn {
    background-color: #00BFA5;
    color: #fff;
    border: none;
}

.modal-header {
    background-color: #448AFF;
    color: #fff;
}

.panel-default>.panel-heading {
    background-color: #00BFA5;
    color: #fff;
    font-weight: bold;
}