/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    font-size: 13px;
}

/*html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;

    height: 100vh;
    margin: 0;
}
*/

footer {
    text-align: center;
    padding: 30px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #000;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}

table {
    font-size: 1em;
    font-weight: 600;
    /*font-family: "Raleway", sans-serif;*/
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
    text-align: center;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.action-tiles {
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}

.thumbnail {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    width: 100%;
}

.thumbnail .caption {
    color: #fff;
    text-align: center;
}

@-webkit-keyframes slideDown {
    0%,
    100% {
        -webkit-transform: translateY(-60px);
    }
    10%,
    90% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes slideDown {
    0%,
    100% {
        -moz-transform: translateY(-60px);
    }
    10%,
    90% {
        -moz-transform: translateY(0px);
    }
}

#taskCreationStatus {
    display: none;
    position: absolute;
    z-index: 101;
    top: -15;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    -webkit-transform: translateY(0px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations .csstransforms #taskCreationStatus {
    -moz-transform: translateY(-40px);
    -moz-animation: slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations .csstransforms #close {
    display: none;
}


.full-height {
    height: 70vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 74px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* Content Loading Spinner */
#loading {
    background: url(../img/hourglass.svg) center no-repeat rgba(255,255,255,0.85);
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    display:none;
}